#Gemini api (you can get it from aistudio.google.com)
GEMINI_API_KEY = "Paste your api key"

#the news sources keys (from newsapi.org and gnews.io)
NEWSAPI_KEY = "Paste your api key"
GNEWS_KEY = "Paste your api key"
